<div class="text-center flex flex-col items-center justify-center min-h-screen-full my-20">
    <h2 class="font-bold text-3xl mt-0 my-5">
        Bienvenido, {{ name }}
    </h2>
    <hr class="w-1/2 mx-auto my-4 border-b-4" />
    <p class="w-1/2 mx-auto my-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam excepturi in id consequuntur dolores possimus tempore. 
        Laborum temporibus omnis fuga sed unde. Magni aut unde at sed laborum placeat autem.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem animi vero, facere sit, 
        fuga quia at tempora architecto nisi, ratione odio eius debitis ut aperiam. Similique aut ipsa minus ratione?
        <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam excepturi in id consequuntur dolores possimus tempore. 
        Laborum temporibus omnis fuga sed unde. Magni aut unde at sed laborum placeat autem.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem animi vero, facere sit, 
        fuga quia at tempora architecto nisi, ratione odio eius debitis ut aperiam. Similique aut ipsa minus ratione?
    </p>
</div>

