<div class="text-center flex flex-col items-center justify-center min-h-screen-full my-20">
    <h2 class="font-bold text-3xl mt-0 my-5">
        ¡Bienvenido a nuestra comunidad en línea!
    </h2>
    <hr class="w-1/2 mx-auto my-4 border-b-4" />
    <p class="w-1/2 mx-auto my-5">
        Estamos encantados de darte la bienvenida a bordo. 
        Tu registro marca el inicio de una emocionante jornada llena de oportunidades para aprender, 
        conectar y crecer junto a nosotros. 
        Desde ahora, tendrás acceso a una amplia gama de recursos, contenido exclusivo y 
        una red de usuarios apasionados como tú. Explora todo lo que nuestra plataforma tiene 
        para ofrecer y no dudes en ponerte en contacto con nuestro equipo si necesitas ayuda en cualquier momento. 
        ¡Que disfrutes de tu experiencia con nosotros!
    </p>
</div>

